*
{
    margin: 0;
    font-family: Kanit;
    user-select: none;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-color: rgb(255, 192, 74);
}

section
{
    width: 25%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

input
{
    display: block;
    margin: 10px;
    border-radius: 5px;
    width: 80%;
    height: 50px;
    border: 1px solid rgb(60, 60, 60);
    text-align: center;
    font-size: 16px;
}

button
{
    display: block;
    background-color: rgb(60, 60, 60);
    border-radius: 10px;
    color: white;
    width: 80%;
    height: 50px;
    border: none;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
}

button:hover
{
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#signup-button
{
    margin-top: 10px;
}

#google-button
{
    background-image: url("google.png");
    background-repeat: no-repeat;
    background-size: contain;
}

h4
{
    margin: 10px;
    color: rgb(75, 75, 75);
}

#login-link
{
    margin-top: 30px;
    color: rgb(75, 75, 75);
    cursor: pointer;
    text-decoration: none;
}

#login-link:hover
{
    text-decoration: underline;
}

@media only screen and (max-width: 1000px)
{
section
{
    width: 90%;
}
}